body {
    background-color: cornsilk;
}

/* TODO: add classes to transform the text */

.poem {
    margin-top: 80x;
}

/* .wavy {

} */

.vertical {
    writing-mode: vertical-lr;
    text-orientation: upright; 
}

